@import url('normalize.css');
@import url('skeleton.css');

body{
    color: #524763;
}
.footer-container,
.footer-container a,
.header a{
    color: #fff;
}

.col-right.sidebar{
    background: #ccc;
    color: #000;
}

.clearfix:after{
    display: table;
    width: 100%;
    content:'';
}
.header{
    background: #524763;
}

.header .links li{
    display: inline;

}
.header p,
.header form,
.header .links{
    margin-bottom: 0;
}
#nav .level-top{
    display: inline-block;
    margin-right: 20px;
}
#nav ul{
    display: none;
}

.footer-container{
    background: #524763;
}